        table {
            border: solid 1px black;
        }
        
        th {
            margin: 5px;
            padding: 10px;
        }
        
        h1 {
            border-bottom: solid 2px black;
            width: 35%;
        }
        
        form {
            display: inline-block
        }